@model ShopTARge23.Models.Kindergartens.KindergartenDeleteViewModel

<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Delete</h2>
            <p>Kindergarten</p>
        </header>

        <!-- Content -->
        <section id="content">
            <form method="post">
                <table class="table table-hover">
                    <tr>
                        <td><label asp-for="Id" class="col-sm-2 col-form-label"></label></td>
                        <td>@Html.DisplayFor(model => model.Id)</td>
                    </tr>
                    <tr>
                        <td><label as<label asp-for="GroupName" class="col-sm-2 col-form-label"></label></td>
                        <td> @Html.DisplayFor(model => model.GroupName)</td>
                    </tr>
                    <tr>
                        <td><label asp-for="ChildrenCount" class="col-sm-2 col-form-label"></label></td>
                        <td> @Html.DisplayFor(model => model.ChildrenCount)</td>
                    </tr>
                    <tr>
                        <td> <label asp-for="KindergartenName" class="col-sm-2 col-form-label"></label></td>
                        <td>@Html.DisplayFor(model => model.KindergartenName)</td>
                    </tr>
                    <tr>
                        <td>  <label asp-for="Teacher" class="col-sm-2 col-form-label"></label></td>
                        <td>@Html.DisplayFor(model => model.Teacher)</td>
                    </tr>
                    <tr>
                        <td><label asp-for="CreatedAt" class="col-sm-2 col-form-label"></label></td>
                        <td>@Html.DisplayFor(model => model.CreatedAt)</td>
                    </tr>
                    <tr>
                        <td><label asp-for="UpdatedAt" class="col-sm-2 col-form-label"></label></td>
                        <td>@Html.DisplayFor(model => model.UpdatedAt)</td>
                    </tr>
                </table>
            </form>

            <div>
                @foreach (var images in Model.Image)
                {
                    <partial name="_Images" model="images" />
                    <br />
                }
                <form asp-action="DeleteConfirmation">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
                <a asp-action="Index" asp-controller="kindergartens" class="btn btn-outline-dark">Back</a>
            </div>
        </section>
    </div>
</div>
