@model ShopTARge23.Models.Coctails.CoctailViewModel

@{
    ViewData["Title"] = "Cocktail Details";
}

<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Receipe for @Html.DisplayFor(model => model.StrDrink)</h2>
        </header>

        <!-- Content -->
        <section id="content">
            <div><h1>Ingredients</h1></div>
            <div>
                @{
                    // Make a list of ingredients and filter out blank values
                    var ingredients = new List<string>
                {
                Model.StrIngredient1,
                Model.StrIngredient2,
                Model.StrIngredient3,
                Model.StrIngredient4,
                Model.StrIngredient5,
                Model.StrIngredient6,
                Model.StrIngredient7,
                Model.StrIngredient8,
                Model.StrIngredient9,
                Model.StrIngredient10,
                Model.StrIngredient11,
                Model.StrIngredient12,
                Model.StrIngredient13,
                Model.StrIngredient14,
                Model.StrIngredient15
                }.Where(ingredient => !string.IsNullOrEmpty(ingredient)).ToList();

                    // Show ingredients by separating them with commas
                    @string.Join(", ", ingredients)
                }
            </div>
            <br />
            <div>
                <h1>Instructions</h1>
            </div>
            <div>
                @Html.DisplayFor(model => model.StrInstructions)
            </div>
            <br />
            <div>
                <h1>Glass</h1>
            </div>
            <div>
                @Html.DisplayFor(model => model.StrGlass)
            </div>
            <br />
            <div>
                <img src="@Model.StrDrinkThumb" alt="Drink Image" style="width: 200px; height: auto;" />
            </div>
        </section>
    </div>
    <br />
    <a href="@Url.Action("Index", "Coctails", new { searchQuery = ViewData["SearchQuery"] })">Back</a>

</div>




  