@model ShopTARge23.Models.AccuWeathers.AccuWeatherViewModel

<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Forecast for @Html.DisplayFor(model => model.CityName)</h2>
        </header>

        <div class="form-group row">
            <h1><label asp-for="TempMinValue" class="col-sm-2 col-form-label"></label></h1>
            <h1>@Html.DisplayFor(model => model.TempMinValue) °C</h1>
        </div>

        <div class="form-group row">
            <h1><label asp-for="TempMaxValue" class="col-sm-2 col-form-label"></label></h1>
            <h1>@Html.DisplayFor(model => model.TempMaxValue) °C</h1>
        </div>

        <div class="form-group row">
            <h1><label asp-for="Text" class="col-sm-2 col-form-label"></label></h1>
            <h1>@Html.DisplayFor(model => model.Text)</h1>
        </div>

        <div class="form-group row">
            <h1><label asp-for="Severity" class="col-sm-2 col-form-label"></label></h1>
            <h1>@Html.DisplayFor(model => model.Severity)</h1>
        </div>

        <div class="form-group row">
            <h1><label asp-for="Category" class="col-sm-2 col-form-label"></label></h1>
            <h1>@Html.DisplayFor(model => model.Category)</h1>
        </div>

        <div class="form-group row">
            <h1><label asp-for="EffectiveDate" class="col-sm-2 col-form-label"></label></h1>
            <h1>@Html.DisplayFor(model => model.EffectiveDate)</h1>
        </div>
    </div>

    <a asp-action="Index" asp-controller="accuWeathers" class="btn btn-danger">Back</a>
</div>
