@model ShopTARge23.Models.Spaceships.SpaceshipDeleteViewModel

<!-- Main -->
<div id="main" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Delete spaceship</h2>
        </header>

        <!-- Content -->
        <section id="content">
            <form method="post">
                <table class="table table-hover">
                    <tr>
                        <td><label asp-for="Id"></label></td>
                        <td>@Html.DisplayFor(model => model.Id)</td>
                    </tr>
                    <tr>
                        <td><label as<label asp-for="Name" class="col-sm-2 col-form-label"></label></td>
                        <td> @Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <td><label asp-for="Typename" class="col-sm-2 col-form-label"></label></td>
                        <td> @Html.DisplayFor(model => model.Typename)</td>
                    </tr>
                    <tr>
                        <td> <label asp-for="SpaceshipModel" class="col-sm-2 col-form-label"></label></td>
                        <td>@Html.DisplayFor(model => model.SpaceshipModel)</td>
                    </tr>
                    <tr>
                        <td>  <label asp-for="BuiltDate" class="col-sm-2 col-form-label"></label></td>
                        <td>@Html.DisplayFor(model => model.BuiltDate)</td>
                    </tr>
                    <tr>
                        <td>  <label asp-for="Crew" class="col-sm-2 col-form-label"></label></td>
                        <td>@Html.DisplayFor(model => model.Crew)</td>
                    </tr>
                    <tr>
                        <td>  <label asp-for="EnginePower" class="col-sm-2 col-form-label"></label></td>
                        <td>@Html.DisplayFor(model => model.EnginePower)</td>
                    </tr>
                    <tr>
                        <td><label asp-for="CreatedAt" class="col-sm-2 col-form-label"></label></td>
                        <td>@Html.DisplayFor(model => model.CreatedAt)</td>
                    </tr>
                    <tr>
                        <td><label asp-for="ModifiedAt" class="col-sm-2 col-form-label"></label></td>
                        <td>@Html.DisplayFor(model => model.ModifiedAt)</td>
                    </tr>
                </table>
            </form>

            <div>
                @foreach (var images in Model.Images)
                {
                    <partial name="_Images" model="images" />
                    <br />
                }
                <form asp-action="DeleteConfirmation">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
                <a asp-action="Index" asp-controller="Spaceships" class="btn btn-outline-dark">Back</a>
            </div>
        </section>
    </div>
</div>
